@media (min-width: 768px){
    #ImagenCabecera{
        width: 60% !important;
        margin-left: 20%;
    }    
}
.NombrePlato{
    font-weight: bold;
    font-size: 14px;
    margin: 0px 3px 2px 3px;
}
.ListaMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 1.5px; margin-right: 1.5px;
}
.BotoneraImagen{
display: flex;
flex-direction: row;
}

.badge-menu {
    background-color: whitesmoke;
    border-color: #60581a;
    border: 1.5px solid;
    color: #60581a;

}
#ContenedorImagen{
    background-image: url("Wallpaper PC Red.png");
    background-size: 100%;
    filter: blur(3px);

}
.Virtualx .TipoCurso{
    color: #016064;
    font-weight: bold;
}
.Presencialx .TipoCurso{
    color: #B81b1b;
    font-weight: bold;
}

.Virtualx{
    border-color: #016064 !important;
}

.Presencialx{
    border-color: #B81b1b !important;
}

.BotonesFlotantes a {
    height: 52px;
}

a:hover {
    cursor: pointer
}
.BotonesFlotantes {
    display: block;
    width: 80px;
    height: 60px;
    color: #fff;
    position: fixed;
    right: -13px;
    bottom: 15px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    z-index: 999;
}

.MenuLateralSeleccionado {
    background-color: #928ca0;
    color: #1a237e;
    font-weight: bold;
    font-size: 17px;
}
    .MenuLateralSeleccionado:hover {
        cursor: pointer;
    }
.MenuLateral {
    background-color: none;
    transition: 0.3s;
    font-size: 17px;
}
.MenuLateral:hover{
    background-color: #D0c5e7;
    color: #1a237e;
    font-weight: bold;
    cursor:pointer;
}

.cursoDisponible:hover {
    cursor: pointer;
}
.precio{
    position: absolute;
    bottom: 1%;
    left: 3%;
}
.agregar{
    position: absolute;
    bottom: 1%;
    right: 3%;
}
.formatoLista{
    display: flex !important;
    flex-direction: row;
}
.formatoLista>div>img{
    width: 35%;
    display: flex;
}
.formatoLista>div>p{
    width: auto;
    margin: 6px auto 0px auto;
}
.formatoLista >.BotoneraImagen > .precio{
    bottom: -5%;
    left: 37%;
    font-size: 1.2em;
}
.formatoLista >.BotoneraImagen>.agregar{
    bottom: -5%;
    right: 2%;
}
.reverseRow{
    display: flex;
    flex-direction: row-reverse;
}

.MenuNavegacion{
    justify-content: space-evenly;
    display: flex;
    padding: 15px 0;
    background-color: black;
    
}
.MenuNavegacion > a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.Precio2{
    bottom: 2%;
    margin-bottom: 0;
    position: absolute;
    font-weight: 600;
}

.Agregar2{
    bottom: 2%;
    margin-bottom: 0 !important;
    position: absolute;
    right: 3%;
    text-decoration: none;
}

.Agregar2 >a{
    color : #0366d6 !important
}

.Agregar2 >input{
    width: 2rem;
    height: 1.7rem;
    margin: 0 0.6rem;
}

#subtotal{
    width: 90%;
    text-align: initial;
    margin: auto;
}
.ListaIncluyePedido{
    margin-bottom: 2px;
}